.demo-card-wide.mdl-card {
  width: 256px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 150px;
  background: url('Dandellion.png') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}